{% extends 'base.html' %}
{% load static %}
{% block title %}About CharityEcho{% endblock %}
{% block meta_description %}{% endblock %}
{% block content %}



<div class="page-title-area title-bg-one">
<div class="d-table">
<div class="d-table-cell">
<div class="container">
<div class="title-item">
<h2>Who We Are</h2>
</div>
</div>
</div>
</div>
</div>


<div class="about-area pt-100 pb-70">
<div class="container">
<div class="row align-items-center">
<div class="col-lg-6">
<div class="about-img">
<img src="{% static 'img/about/about-main1.jpg' %}" alt="About">
</div>
</div>
<div class="col-lg-6">
<div class="about-content">
<div class="section-title">
<span class="sub-title">Why CharityEcho</span>
<h2>Our Mission and Goals</h2>
</div>
<p>At CharityEcho, our mission is to transform lives and uplift communities across Africa by addressing critical needs and fostering hope. We are dedicated to reaching out to schools, hospitals, and prisons, providing essential support to those in need, and working tirelessly to eradicate poverty, reduce hunger, and alleviate hardship.</p>
<p>Our commitment is to spread the good news, empower individuals, and build a brighter future for all. Through education, healthcare, compassionate outreach, and sustainable development, we strive to create lasting positive change and ensure that every person has the opportunity to thrive.</p>
<p>We take the trust placed in us by our supporters very seriously, and we work hard to ensure that every money we spend on our projects in Africa, we make sure it's make huge impact.</p>
<p>Together, we are building a more just, equitable, and compassionate society, where everyone can experience dignity, hope, and a better quality of life.</p>
</div>
</div>
</div>
</div>
</div>


<section class="dream-area pt-100 pb-70">
<div class="container">
<div class="section-title">
<span class="sub-title">Fulfill our dream</span>
<h2>Let's make a change</h2>
<p>We work in the hardest-to-reach places, where it’s toughest to be a child.</p>
</div>
<div class="row">
<div class="col-sm-6 col-lg-4">
<div class="dream-item">
<h3>
<a href="donations.html">We are dedicated to empowering communities through a variety of local initiatives.</a>
</h3>
<p>Our community projects focus on education, healthcare, infrastructure, and growth.</p>
<h4><span>Community Projects</span></h4>
<span class="sub-span">01</span>
</div>
</div>
<div class="col-sm-6 col-lg-4">
<div class="dream-item">
<h3>
<a href="donations.html">We envision a world where no one goes to bed hungry & thirsty.</a>
</h3>
<p>By addressing food insecurity, we strive to foster healthier communities and build a foundation for a brighter future.</p>
<h4><span>Food & Water</span></h4>
<span class="sub-span">02</span>
</div>
</div>
<div class="col-sm-6 col-lg-4">
<div class="dream-item">
<h3>
<a href="donations.html">We are dedicated to eradicating poverty for individuals and families.</a>
</h3>
<p>Our goal is to break the cycle of poverty and create pathways to a sustainable and prosperous future.</p>
<h4><span>poverty alleviation</span></h4>
<span class="sub-span">03</span>
</div>
</div>
<div class="col-sm-6 col-lg-4">
<div class="dream-item">
<h3>
<a href="donations.html">We bring hope and comfort to patients through our hospital visitation program.</a>
</h3>
<p>Our hospital visitation program aims to uplift patients' spirits, provide emotional and spiritual encouragement.</p>
<h4><span>Hospital Visitations</span></h4>
<span class="sub-span">04</span>
</div>
</div>
<div class="col-sm-6 col-lg-4">
<div class="dream-item">
<h3>
<a href="donations.html">Our prison visitation program aims to offer hope and encourage inmates.</a>
</h3>
<p>By providing emotional support, spiritual guidance, and rehabilitation resources, we strive to foster positive change.</p>
<h4><span>Prison Visitations</span></h4>
<span class="sub-span">05</span>
</div>
</div>
<div class="col-sm-6 col-lg-4">
<div class="dream-item">
<h3>
<a href="donations.html">We believe everyone deserves a safe and secure place to call home.</a>
</h3>
<p>Our mission is to provide affordable housing solutions, offering shelter and stability to those in need.</p>
<h4><span>House Projects</span></h4>
<span class="sub-span">06</span>
</div>
</div>
</div>
</div>
</section>



<div class="benefit-area two pt-100 pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="video-container">
                    <video id="myVideo" class="video" width="560" height="315" controls>
                        <source src="{% static 'img/charity.mp4' %}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    <div class="overlay" id="videoOverlay">
                        <img src="{% static 'img/donation5.jpg' %}" alt="Overlay Image" class="overlay-image">
                        <button id="playButton" class="play-button">&#9658;</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="section-title">
                    <span class="sub-title">Core features</span>
                    <h2>Our Vision & Values</h2>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-6">
                        <div class="benefit-item">
                            <i class="flaticon-house"></i>
                            <h3>Build home</h3>
                            <p>By building houses, we aim to create strong, resilient communities where families can thrive and build better futures.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-6">
                        <div class="benefit-item two">
                            <i class="flaticon-hospital"></i>
                            <h3>Medical facilities</h3>
                            <p>We partner with communities in 35 countries to sustainably strengthen health systems and improve access to healthcare.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-6">
                        <div class="benefit-item three">
                            <i class="flaticon-fast-food"></i>
                            <h3>Food & water</h3>
                            <p>Our commitment is to provide access to nutritious food and clean water, ensuring the fundamental needs of every individual are met.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-6">
                        <div class="benefit-item four">
                            <i class="flaticon-graduation-cap"></i>
                            <h3>Education facilities</h3>
                            <p>To provide sustainable and life-changing interventions, which significantly reduces illiteracy in under-represented children.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!--<div class="benefit-area two pt-100 pb-70">
<div class="container">
<div class="row align-items-center">
<div class="col-lg-6">
<div>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/tCUgPncmOFo?si=b13mPLZJKSpuRZZB" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>

</div>
<div class="col-lg-6">
<div class="section-title">
<span class="sub-title">Core features</span>
<h2>Our Vision & Values</h2>
</div>
<div class="row">
<div class="col-sm-6 col-sm-6">
<div class="benefit-item">
<i class="flaticon-house"></i>
<h3>Build home</h3>
<p>By building houses, we aim to create strong, resilient communities where families can thrive and build better futures. </p>
</div>
</div>
<div class="col-sm-6 col-sm-6">
<div class="benefit-item two">
<i class="flaticon-hospital"></i>
<h3>Medical facilities</h3>
<p>We partner with communities in 35 countries to sustainably strengthen health systems and improve access to healthcare.</p>
</div>
</div>
<div class="col-sm-6 col-sm-6">
<div class="benefit-item three">
<i class="flaticon-fast-food"></i>
<h3>Food & water</h3>
<p>Our commitment is to provide access to nutritious food and clean water, ensuring the fundamental needs of every individual are met.</p>
</div>
</div>
<div class="col-sm-6 col-sm-6">
<div class="benefit-item four">
<i class="flaticon-graduation-cap"></i>
<h3>Education facilities</h3>
<p>To provide sustainable and life-changing interventions, which significantly reduces illiteracy in under-represented children.</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>-->


<section class="team-area four pt-100 pb-70">
<div class="container">
<div class="section-title">
<span class="sub-title">Volunteer</span>
<h2>Meet our Volunteers</h2>
<p>Our volunteers are the heart of our mission, dedicating their time, skills, and compassion to make a difference. Together, we work to uplift communities, support those in need, and drive meaningful change.</p>
</div>
<div class="row">
<div class="col-sm-6 col-lg-4">
<div class="team-item">
<div class="top">
<img src="{% static 'img/team/team1.jpg' %}" alt="Team">
<ul>
<li>
<a href="#" target="_blank">
<i class="icofont-facebook"></i>
</a>
</li>
<li>
<a href="#" target="_blank">
<i class="icofont-twitter"></i>
</a>
</li>
<li>
<a href="#" target="_blank">
<i class="icofont-youtube-play"></i>
</a>
</li>
<li>
<a href="#" target="_blank">
<i class="icofont-instagram"></i>
</a>
</li>
</ul>
</div>
<div class="bottom">
<h3>Engr Peter</h3>
<span>CEO & Founder</span>
</div>
</div>
</div>
<div class="col-sm-6 col-lg-4">
<div class="team-item">
<div class="top">
<img src="{% static 'img/team/team2.jpg' %}" alt="Team">
<ul>
<li>
<a href="#" target="_blank">
<i class="icofont-facebook"></i>
</a>
</li>
<li>
<a href="#" target="_blank">
<i class="icofont-twitter"></i>
</a>
</li>
<li>
<a href="#" target="_blank">
<i class="icofont-youtube-play"></i>
</a>
</li>
<li>
<a href="#" target="_blank">
<i class="icofont-instagram"></i>
</a>
</li>
</ul>
</div>
<div class="bottom">
<h3>Mrs Chioma</h3>
<span>Manager</span>
</div>
</div>
</div>
<div class="col-sm-6 offset-sm-3 offset-lg-0 col-lg-4">
<div class="team-item">
<div class="top">
<img src="{% static 'img/team/team3.jpg' %}" alt="Team">
<ul>
<li>
<a href="#" target="_blank">
<i class="icofont-facebook"></i>
</a>
</li>
<li>
<a href="#" target="_blank">
<i class="icofont-twitter"></i>
</a>
</li>
<li>
<a href="#" target="_blank">
<i class="icofont-youtube-play"></i>
</a>
</li>
<li>
<a href="#" target="_blank">
<i class="icofont-instagram"></i>
</a>
</li>
</ul>
</div>
<div class="bottom">
<h3>Dr Joseph</h3>
<span>Volunteer</span>
</div>
</div>
</div>
</div>
</div>
</section>



{% endblock %}

