{% extends 'base.html' %}
{% load static %}

{% block content %}



<div class="page-title-area title-bg-two">
<div class="d-table">
<div class="d-table-cell">
<div class="container">
<div class="title-item">
<h2>Donations</h2>
<ul>
<li>
<a href="{% url 'index' %}">Home</a>
</li>
<li>
<span>Donations</span>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>


<section class="donations-area three pt-100 pb-70">
<div class="container">
<div class="section-title">
<span class="sub-title">Causes to care</span>
<h2>Be the reason of someone smiles</h2>
<p>Support our cause and make a difference today. Your donation fuels our efforts to create positive change in the lives of those in need. Every contribution counts.</p>
</div>
<div class="row">
<div class="col-sm-6 col-lg-4">
<div class="donation-item">
<div class="top">
<a class="tags" href="#">#Medical</a>
<h3>
<a href="donation-details.html">Need help for treatment</a>
</h3>
<p>Transform lives with healthcare. Donate now to provide medical assistance and make a lasting impact.</p>
</div>
<div class="img">
<img src="{% static 'img/donation/donation7.jpg' %}" alt="Donation">
<a class="common-btn" href="donation-details.html">Donate Now</a>
</div>
<div class="inner">
<div class="bottom">
<div class="skill">
<div class="skill-bar skill1 wow fadeInLeftBig">
<span class="skill-count1">10%</span>
</div>
</div>
<ul>
<li>Raised: $200</li>
<li>Goal: $20,000</li>
</ul>
<h4>Donated by <span>7 people</span></h4>
</div>
</div>
</div>
</div>
<div class="col-sm-6 col-lg-4">
<div class="donation-item">
<div class="top">
<a class="tags" href="#">#Education</a>
<h3>
<a href="donation-details.html">Education for poor children</a>
</h3>
<p>Empower children through education. Donate now to brighten futures and create lasting change with us.</p>
</div>
<div class="img">
<img src="{% static 'img/donation/donation3.jpg' %}" alt="Donation">
<a class="common-btn" href="donation-details.html">Donate Now</a>
</div>
<div class="inner">
<div class="bottom">
<div class="skill">
<div class="skill-bar skill2 wow fadeInLeftBig">
<span class="skill-count2">5%</span>
</div>
</div>
<ul>
<li>Raised: $500</li>
<li>Goal: $10,000</li>
</ul>
<h4>Donated by <span>12 people</span></h4>
</div>
</div>
</div>
</div>
<div class="col-sm-6 col-lg-4">
<div class="donation-item">
<div class="top">
<a class="tags" href="#">#Family</a>
<h3>
<a href="donation-details.html">Financial help for poor</a>
</h3>
<p>Support families in need. Donate now to provide vital assistance and create lasting change together.</p>
</div>
<div class="img">
<img src="{% static 'img/donation/donation2.jpg' %}" alt="Donation">
<a class="common-btn" href="donation-details.html">Donate Now</a>
</div>
<div class="inner">
<div class="bottom">
<div class="skill">
<div class="skill-bar skill3 wow fadeInLeftBig">
<span class="skill-count3">5%</span>
</div>
</div>
<ul>
<li>Raised: $3,00</li>
<li>Goal: $6,000</li>
</ul>
<h4>Donated by <span>9 people</span></h4>
</div>
</div>
</div>
</div>
<div class="col-sm-6 col-lg-4">
<div class="donation-item">
<div class="top">
<a class="tags" href="#">#Funding</a>
<h3>
<a href="donation-details.html"> Community outreach</a>
</h3>
<p>Strengthen communities. Donate now to support outreach programs and foster positive change in neighborhoods.</p>
</div>
<div class="img">
<img src="{% static 'img/donation/donation5.jpg' %}" alt="Donation">
<a class="common-btn" href="donation-details.html">Donate Now</a>
</div>
<div class="inner">
<div class="bottom">
<div class="skill">
<div class="skill-bar skill4 wow fadeInLeftBig">
<span class="skill-count4">30%</span>
</div>
</div>
<ul>
<li>Raised: $3,00</li>
<li>Goal: $1,000</li>
</ul>
<h4>Donated by <span>5 people</span></h4>
</div>
</div>
</div>
</div>
<div class="col-sm-6 col-lg-4">
<div class="donation-item">
<div class="top">
<a class="tags" href="#">#Relief</a>
<h3>
<a href="donation-details.html">Hunger Relief</a>
</h3>
<p>End hunger one meal at a time. Donate now to provide food assistance and nourishment to those facing hunger.</p>
</div>
<div class="img">
<img src="{% static 'img/donation/donation1.jpg' %}" alt="Donation">
<a class="common-btn" href="donation-details.html">Donate Now</a>
</div>
<div class="inner">
<div class="bottom">
<div class="skill">
<div class="skill-bar skill5 wow fadeInLeftBig">
<span class="skill-count5">6%</span>
</div>
</div>
<ul>
<li>Raised: $6,00</li>
<li>Goal: $10,000</li>
</ul>
<h4>Donated by <span>10 people</span></h4>
</div>
</div>
</div>
</div>
<div class="col-sm-6 col-lg-4">
<div class="donation-item">
<div class="top">
<a class="tags" href="#">#Poverty</a>
<h3>
<a href="donation-details.html">Poverty alleviation</a>
</h3>
<p>Break the cycle of poverty. Donate now to support our efforts in alleviating poverty and empowering lives.</p>
</div>
<div class="img">
<img src="{% static 'img/donation/donation6.jpg' %}" alt="Donation">
<a class="common-btn" href="donation-details.html">Donate Now</a>
</div>
<div class="inner">
<div class="bottom">
<div class="skill">
<div class="skill-bar skill5 wow fadeInLeftBig">
<span class="skill-count5">15%</span>
</div>
</div>
<ul>
<li>Raised: $1,500</li>
<li>Goal: $10,000</li>
</ul>
<h4>Donated by <span>13 people</span></h4>
</div>
</div>
</div>
</div>
<div class="col-sm-6 col-lg-4">
<div class="donation-item">
<div class="top">
<a class="tags" href="#">#Water</a>
<h3>
<a href="donation-details.html">Clean Water Initiatives</a>
</h3>
<p>Quench thirst, save lives. Donate now to support clean water initiatives and provide access to safe drinking water for all.</p>
</div>
<div class="img">
<img src="{% static 'img/donation/donation9.jpg' %}" alt="Donation">
<a class="common-btn" href="donation-details.html">Donate Now</a>
</div>
<div class="inner">
<div class="bottom">
<div class="skill">
<div class="skill-bar skill5 wow fadeInLeftBig">
<span class="skill-count5">18%</span>
</div>
</div>
<ul>
<li>Raised: $350</li>
<li>Goal: $2,000</li>
</ul>
<h4>Donated by <span>11 people</span></h4>
</div>
</div>
</div>
</div>
<div class="col-sm-6 col-lg-4">
<div class="donation-item">
<div class="top">
<a class="tags" href="#">#Development</a>
<h3>
<a href="donation-details.html">Youth Development</a>
</h3>
<p>Invest in our future leaders. Donate now to support programs that empower youth and provide opportunities for growth.</p>
</div>
<div class="img">
<img src="{% static 'img/donation/donation4.jpg' %}" alt="Donation">
<a class="common-btn" href="donation-details.html">Donate Now</a>
</div>
<div class="inner">
<div class="bottom">
<div class="skill">
<div class="skill-bar skill4 wow fadeInLeftBig">
<span class="skill-count4">28%</span>
</div>
</div>
<ul>
<li>Raised: $2,000</li>
<li>Goal: $8,000</li>
</ul>
<h4>Donated by <span>16 people</span></h4>
</div>
</div>
</div>
</div>
<div class="col-sm-6 col-lg-4">
<div class="donation-item">
<div class="top">
<a class="tags" href="#">#Hope</a>
<h3>
<a href="donation-details.html">Prisons visitations</a>
</h3>
<p>Restore hope through connection. Donate now to support prison visitation programs and make a difference.</p>
</div>
<div class="img">
<img src="{% static 'img/donation/donation10.jpg' %}" alt="Donation">
<a class="common-btn" href="donation-details.html">Donate Now</a>
</div>
<div class="inner">
<div class="bottom">
<div class="skill">
<div class="skill-bar skill6 wow fadeInLeftBig">
<span class="skill-count6">18%</span>
</div>
</div>
<ul>
<li>Raised: $5,00</li>
<li>Goal: $3,000</li>
</ul>
<h4>Donated by <span>8 people</span></h4>
</div>
</div>
</div>
</div>
</div>
</div>
</section>


{% endblock %}