{% extends 'base.html' %}
{% load static %}

{% block content %}



<div class="page-title-area title-bg-twelve">
<div class="d-table">
<div class="d-table-cell">
<div class="container">
<div class="title-item">
<h2>FAQ</h2>
</div>
</div>
</div>
</div>
</div>


<div class="faq-area pt-100 pb-70">
<div class="container">
<div class="row align-items-center">
<div class="col-lg-6">
<div class="faq-img">
<img src="{% static 'img/faq-main.jpg' %}" alt="FAQ">
</div>
</div>
<div class="col-lg-6">
<ul class="accordion">
<li>
<a>
What is the mission of our charity?
<i class="icofont-plus"></i>
<i class="icofont-minus two"></i>
</a>
<p>At CharityEcho, our mission is to transform lives and uplift communities across Africa by addressing critical needs and fostering hope. We are dedicated to reaching out to schools, hospitals, and prisons, providing essential support to those in need, and working tirelessly to eradicate poverty, reduce hunger, and alleviate hardship. You can read about our full mission statement on our About us page.</p>
</li>
<li>
<a>
How can I make a donation?
<i class="icofont-plus"></i>
<i class="icofont-minus two"></i>
</a>
<p>You can make a donation online through our secure donation portal. We also accept donations by mail at support@Charityecho.com. If you prefer, you can call us at +44 7456 606180 to make a donation over the phone.
</p>
</li>
<li>
<a>
Can I donate items or goods instead of money?
<i class="icofont-plus"></i>
<i class="icofont-minus two"></i>
</a>
<p>Yes, we accept in-kind donations of items such as clothing, food, school supplies and more. Please visit our donations page for a list of needed items and instructions on how to donate.
</p>
</li>
<li>
<a>
How will my donation be used?
<i class="icofont-plus"></i>
<i class="icofont-minus two"></i>
</a>
<p>Your donation will be used to support our programs and services, such as Medical Facilities, Prison Visitations, Hospital Visitations, Building Homes, Education facilities, Poverty Allieviation and so much more. We strive to ensure that the majority of our funds go directly to helping those who needs it. After making a donation, you will receive an automatic email receipt. If you do not receive it or need a physical copy, please contact us.</p>
</li>
<li>
<a>
How can I become a volunteer?
<i class="icofont-plus"></i>
<i class="icofont-minus two"></i>
</a>
<p>To become a volunteer, please fill out our volunteer application form on our volunteer page in our home page or contact our volunteer coordinator at support@Charityecho.com or +44 7456 606180. We will get in touch with you to discuss available opportunities and next steps.
</p>
</li>
<li>
<a>
What types of volunteer opportunities are available?
<i class="icofont-plus"></i>
<i class="icofont-minus two"></i>
</a>
<p>We offer a variety of volunteer opportunities, including event planning, fundraising, mentoring, administrative support and so on. While specific skills and qualifications are helpful for certain roles, we welcome volunteers of all skill levels and backgrounds. We provide training and support to help you succeed in your volunteer role. Also the minimum age requirement for volunteers is 18 years. Volunteers under the age of 18 must have parental consent and may need to be accompanied by an adult.
</p>
</li>
<li>
<a>
Can I create an online fundraising page?
<i class="icofont-plus"></i>
<i class="icofont-minus two"></i>
</a>
<p>Yes, you can create an online fundraising page through our website, But you will have to contact us, so we can review your page before publishing it.</p>
</li>
<li>
<a>
How is the charity funded?
<i class="icofont-plus"></i>
<i class="icofont-minus two"></i>
</a>
<p>Our charity is funded through a combination of individual donations, corporate sponsorships, grants, and fundraising events. We rely on the generosity of our supporters to continue our work and achieve our mission. We believe in transparency and accountability and we also provide regular updates to our donors and stakeholders.</p>
</li>
<li>
<a>
How can I contact the charity for more information?
<i class="icofont-plus"></i>
<i class="icofont-minus two"></i>
</a>
<p>You can contact us by phone at +44 7456 606180, by email at support@Charityecho.com, or by visiting our office at 180 Downing Road, Essex, London, United Kingdom. Our office hours are Mon-Fri from 8.00am-5.00pm. You can fill out the contact form on our website www.charityecho.com, and we will get back to you as soon as possible. You can also follow us on social media to stay connected and informed about our work.
</p>
</li>
<li>
<a>
What events do you have planned for the year?
<i class="icofont-plus"></i>
<i class="icofont-minus two"></i>
</a>
<p>We have a variety of events planned throughout the year, including fundraisers, community outreach, educational workshops and so much more. Some of our events are free, while others may require a registration fee or donation. Details about any costs associated with attending an event can be found on the event's specific page on our website. You can stay informed about upcoming events by subscribing to our newsletter and following us on social media</p>
</li>
</ul>
</div>
</div>
</div>
</div>


{% endblock %}