{% extends 'base.html' %}
{% load static %}

{% block content %}



<div class="page-title-area title-bg-nine">
<div class="d-table">
<div class="d-table-cell">
<div class="container">
<div class="title-item">
<h2>Gallery</h2>
</div>
</div>
</div>
</div>
</div>


<div class="gallery-area ptb-100">
<div class="container">
<div class="row">
<div class="col-sm-6 col-lg-4">
<div class="gallery-item">
<a href="{% static 'img/gallery/gallery13.jpg' %}" data-lightbox="roadtrip">
<img src="{% static 'img/gallery/gallery13.jpg' %}" alt="Gallery">
<i class="icofont-eye"></i>
</a>
</div>
</div>
<div class="col-sm-6 col-lg-4">
<div class="gallery-item">
<a href="{% static 'img/gallery/gallery14.jpg' %}" data-lightbox="roadtrip">
<img src="{% static 'img/gallery/gallery14.jpg' %}" alt="Gallery">
<i class="icofont-eye"></i>
</a>
</div>
</div>
<div class="col-sm-6 col-lg-4">
<div class="gallery-item">
<a href="{% static 'img/gallery/gallery15.jpg' %}" data-lightbox="roadtrip">
<img src="{% static 'img/gallery/gallery15.jpg' %}" alt="Gallery">
<i class="icofont-eye"></i>
</a>
</div>
</div>
<div class="col-sm-6 col-lg-4">
<div class="gallery-item">
<a href="{% static 'img/gallery/gallery16.jpg' %}" data-lightbox="roadtrip">
<img src="{% static 'img/gallery/gallery16.jpg' %}" alt="Gallery">
<i class="icofont-eye"></i>
</a>
</div>
</div>
<div class="col-sm-6 col-lg-4">
<div class="gallery-item">
<a href="{% static 'img/gallery/gallery17.jpg' %}" data-lightbox="roadtrip">
<img src="{% static 'img/gallery/gallery17.jpg' %}" alt="Gallery">
<i class="icofont-eye"></i>
</a>
</div>
</div>
<div class="col-sm-6 col-lg-4">
<div class="gallery-item">
<a href="{% static 'img/gallery/gallery18.jpg' %}" data-lightbox="roadtrip">
<img src="{% static 'img/gallery/gallery18.jpg' %}" alt="Gallery">
<i class="icofont-eye"></i>
</a>
</div>
</div>
</div>
<div class="pagination-area">
<ul>
<li>
<a href="gallery-2.html">Prev</a>
</li>
<li>
<a href="gallery.html">1</a>
</li>
<li>
<a href="gallery-2.html">2</a>
</li>
<li>
<a class="active" href="#">3</a>
</li>
<li>
<a href="gallery-4.html">4</a>
</li>
<li>
<a href="gallery-4.html">Next</a>
</li>
</ul>
</div>
</div>
</div>


{% endblock %}