{% extends 'base.html' %}
{% load static %}

{% block content %}



<div class="page-title-area title-bg-thirteen">
<div class="d-table">
<div class="d-table-cell">
<div class="container">
<div class="title-item">
<h2>Privacy Policy</h2>
</div>
</div>
</div>
</div>
</div>


<div class="rules-area ptb-100">
<div class="container">
<div class="rules-item">
<h3>CharityEcho Privacy Policy</h3>
<p>CharityEcho created this Privacy Notice to demonstrate respect for your privacy preferences and to disclose our information collection and sharing practices.</p>
<p>This Privacy Notice explains how CharityEcho, Inc. (“our”, “we” or “us”) collects and processes your Personal Data. Each time you use our Site, the current version of the Privacy Notice will apply. Accordingly, whenever you use our Site, you should check the date of this Privacy Notice (which appears at the top) and review any changes since the last version. This Privacy Notice is applicable to all Site visitors, and all other users of our Site.</p>
<p>“Personal Data” is any information that enables us to identify you, directly or indirectly, by reference to any identifiers such as your name, identification number, location data, online identifier or one or more factors specific to your physical, physiological, genetic, mental, economic, cultural or social identity.</p>
<p>By visiting www.charityecho.org (the “Site”), you acknowledge that you have read and understood the processes and policies referred to in this Privacy Notice and consent to our data collection, use, sharing and processing practices as set forth in this Privacy Notice. Our nominated EU authorized representative for the purposes of the GDPR can be contacted at support@charityecho.com</p>
<h3>How do we collect your information?</h3>
<p>Personal information is collected directly from you when you interact with us. We keep a record of our contact with you and the information with which you have contacted us or provided us with. We then use and process this information internally, in line with your preferences and any related activity.</p>
<p>Examples of our interaction with you may be in relation to a donation you have made to us, when you register with us as a supporter, a response to an enquiry you have made, taking part in or attending an event, or supporting our fundraising activities in another way.</p>
<p>We supplement information on our supporters with information from publicly available sources such as charity websites and annual reviews, corporate websites, public social media accounts, the electoral register and Companies House. This helps us create a fuller picture of someone’s interests and reasons for supporting CharityEcho Africa.</p>
<h3>What information do we collect?</h3>
<p>Information that we collect includes information you share with us, such as names, date of birth, contact details (including e-mail address, postal address, telephone number and social media identity), gender, credit/debit card or bank details if you are donating to us, information as to whether you are a taxpayer for Gift Aid purposes, and any other personal information that you may provide to us. If you apply for a job or to volunteer with us, we may collect further information, such as your previous employment or unspent criminal convictions. You will be provided with our Recruitment Privacy Notice at this time.</p>
<p>We are legally obliged by The General Data Protection Regulation to ensure that we only use this information for the purpose for which it was requested, that it is kept securely and only for the duration that it is relevant and useful to us.</p>
<p>Whilst we do not actively or knowingly collect information from children (under 18s), we appreciate that our supporters include people of all ages. Where appropriate and necessary, we will ask for consent from a parent or guardian to collect information about children. If we learn that we have collected information from a person under the age of 18, and do not have their parent or guardian’s consent, we will delete the information as soon as possible.</p>
<h3>How long do we keep your information for?</h3>
<p>We will hold your personal information on our internal systems for as long as is necessary for the relevant activity, for example we will keep a record of donations subject to Gift Aid for at least seven years to comply with HMRC rules.</p>
<p>If you ask us to stop sending you letters or emails, we will still keep a record of your contact details and appropriate information to enable us to comply with your request not to be contacted by us currently and in the future.</p>
<p>Legacy income is vital to the running of the charity. We may keep data you provide to us indefinitely, to carry out legacy administration and communicate effectively with the families of people leaving us legacies. This also enables us to identify and analyse the source of legacy income we receive.</p>
<h3>How do we use your information?</h3>
<p>We will use your personal information to provide you with the information you have requested, to complete the donation process or transaction, to keep track of our relationship with you and to further our charitable aims, including fundraising activities. We may also use your information to invite you to become involved with us in new or different ways, raise funds or help grow our supporter base.</p>
<p>In addition, we use personal information to conduct due diligence and ethical screening and identify potential supporters. This information may include details related to employment, philanthropic interests and activity, gift capacity and connection to CharityEcho Africa. We only use reputable sources, where someone would expect their information may be read by the public. We avoid any data that we believe has not been lawfully or ethically obtained, and we do not use information sources which have not been made public.</p>
<p>As a charity that relies on donations, we are always looking at ways to improve how we fundraise. This means analysing and researching the way that we receive and ask for donations, to ensure we communicate our vision in the most effective way possible. This includes looking at when emails are opened, read and by which groups of people, sending different communications to people who might chose to give higher donations and arranging our supporters into groups, depending on what communications they are most likely to respond to.</p>
<p>We only use your personal information for direct marketing purposes, such as letting you know of our fundraising campaigns, via telephone, post and email if we have your consent to so and if we are allowed to do so by law. You can change your consent preferences at any time by contacting us at info@charityecho or +2348029510173.</p>
<h3>Who do we share your personal information with, and why?</h3>
<p>We may need to share your information with other companies who provide services and process your personal information on our behalf, including delivering postal mail, sending emails and processing payments. We carefully select these partners and will only share information with them if we are confident that they will protect it. We will always conduct a legitimate interest assessment where we do so and aim to make it clear when collecting personal data that this may be shared.</p>
<p>We will never share your personal information with other organisations or companies to use for their own purposes, other than when we are required to by law. There are other third-party organisations however, that collect information on our behalf as well as for their own use. In these cases, we may receive your personal details from them, but only when you have consented.</p>
<h3>Our legal basis for processing personal information</h3>
<p>Data protection laws mean that each use we make of personal information must have a legal basis. The relevant types of legal basis are set out in the General Data Protection Regulation (GDPR) (EU Regulation 2016/679) and in current UK data protection legislation.</p>
<p>We have a basis to use your personal information if it is reasonably necessary for us to do so and in our ‘legitimate interests’. We consider our legitimate interests to include all of the day-to-day activities CharityEcho Africa UK carries out that require personal information. The majority of these activities are when we contact you about donations or fundraising.</p>
<p>For email marketing, including our e-newsletter, we will always ask you to ‘opt-in’ before we contact you. When you opt-in to our communications using our forms, such as a donation form, an online form, or in person, you are giving us consent to contact you and send you our fundraising and marketing materials. You can update or change your preferences at any time.</p>
<h3>How do we keep your personal information safe?</h3>
<p>We protect your information online with the following security measures: secure servers, firewalls, SSL encryption and other technology and procedures used to protect consumer privacy.</p>
<p>Unfortunately, the transmission of information via the internet is not completely secure. Although we will do our best to protect your personal data, we cannot guarantee the security of your data transmitted to our site; any transmission is at your own risk. Our web pages are secure: depending on which browser you are using, they display a "closed" lock symbol at the bottom part of your browser screen and / or the website address in the address bar at the top of the browser screen starts with an "https" instead of an "http". Once we have received your information, we follow dedicated procedures and have security features to try to prevent unauthorised access.</p>
<p>We utilise a secure CRM database designed specifically for charity fundraising. We ensure that those who have access to personal information internally are appropriately trained staff and volunteers and that access is password protected.</p>
<h3>What are cookies and do you collect them?</h3>
<p>Cookies are pieces of information which may be sent to your computer by CharityEcho UK when you access certain areas of our website. These may be stored on your computer's hard drive to allow us to recognise you as a user when you next visit. They are not software - they can’t be programmed or carry computer viruses. Cookies allow us to recognise your computer when you next visit our website, but they don’t tell us who you are.</p>
<p>We use cookies to monitor how people use our site so we can improve any problem areas, allow you to donate and to enhance our website with information from other websites, for example YouTube videos.</p>
<p>We offer links to websites that are outside of the CharityEcho UK network and whose content is not the responsibility of CharityEcho UK. Please note that when you click on links to other websites, we encourage you to read their privacy policies too. Their standards may differ from ours.</p>
<p>If you want to prevent our cookies being stored on your computer in future, you may do so by referring to your internet browser's instructions. You can do this by clicking on the "Help" menu. Please note however that if you disable our cookies you may not be able to access certain services or facilities on our sites and your use of our sites may be restricted.</p>
<h3>Your rights</h3>
<p>You have the right to request a copy of the information we hold about you at any time, this is called a Subject Access Request.</p>
<p>You also have rights to have your inaccurate personal information corrected, to restrict use of your personal information in some circumstances, to ask us to delete your personal information, for your personal information to be portable, and to object to the use of your personal information.</p>
<p>If you wish to exercise any of these rights, please contact us by email (info@charityecho.org), or phone (+44 7456 606180).</p>
<p>There are exceptions to a number of these rights – for further information, please consult the UK’s Information Commissioner’s Office (ICO).</p>
<h3>Changes to your information</h3>
<p>If your personal details or preferences change, please help us to keep your information up to date by letting us know using the details listed above.</p>
<p>We and our suppliers may use information from external sources such as the Post Office Mail Forwarding service, and/or the public electoral roll to identify when we think you have changed address so that we can update our records and stay in touch. We only use sources where we are confident that you’ve been informed of how your information may be used.</p>
<p>CharityEcho UK reserves the right to update this Privacy Policy from time to time so you may wish to check it each time that you submit personal information to us. If we make any significant changes, we will let you know via our website or by contacting you directly.</p>
</div>
</div>
</div>


<!--<div class="video-wrab">
  <img src="static/img/faq-main.jpg" alt="Video Thumbnail" class="video-thumbnaill">
  <button class="play-botton" onclick="playVideo()"></button>
  <iframe id="youtube-video" width="560" height="315" src="https://www.youtube.com/embed/IuRCMsw1ppU" frameborder="0" allowfullscreen></iframe>
</div>-->


{% endblock %}